In [34]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns
import random

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [36]:
dataset_path = '/mnt/data/Electricity_Theft_Data.csv'
data = pd.read_csv('Electricity_Theft_Data.csv', encoding= 'unicode_escape', index_col= [0])

In [37]:
data.shape

(9957, 366)

In [38]:
data.head(10)

,01-01-15,02-01-15,03-01-15,04-01-15,05-01-15,06-01-15,07-01-15,08-01-15,09-01-15,10-01-15,...,23-12-15,24-12-15,25-12-15,26-12-15,27-12-15,28-12-15,29-12-15,30-12-15,31-12-15,CHK_STATE
CONS_NO,,,,,,,,,,,,,,,,,,,,,
NaN,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,9.00,10.00,...,357.00,358.00,359.00,360.00,361.00,362.00,363.00,364.00,365.00,NaN
8.546920e+09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0
6.177183e+08,1.12,1.73,3.34,2.77,3.50,2.86,1.25,1.12,1.51,1.69,...,17.31,15.95,17.00,32.05,28.72,31.11,28.47,16.70,14.96,1.0
7.222500e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0
7.134080e+09,1.58,3.65,2.54,4.28,1.62,1.39,2.33,1.78,1.80,2.96,...,4.17,7.95,8.84,2.20,2.91,10.52,7.98,3.68,1.41,1.0
4.632001e+09,2.18,1.90,1.48,0.00,0.00,0.00,0.00,0.00,0.73,2.26,...,11.64,11.68,12.02,11.76,25.07,21.13,18.31,18.31,18.31,1.0
8.299420e+09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,2.92,0.00,0.00,0.03,0.08,0.00,0.25,1.0
7.958117e+09,6.43,0.00,11.90,11.31,23.39,16.58,10.24,15.99,20.00,12.02,...,9.14,9.95,6.86,10.26,10.88,6.70,10.23,8.81,9.29,1.0
1.858908e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.68,17.24,19.34,15.75,15.31,20.09,19.31,17.74,20.21,1.0
6.068908e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9957 entries, nan to 1635009393.0
Columns: 366 entries, 01-01-15 to CHK_STATE
dtypes: float64(366)
memory usage: 27.9 MB

In [40]:
data.columns

Index(['01-01-15', '02-01-15', '03-01-15', '04-01-15', '05-01-15', '06-01-15',
       '07-01-15', '08-01-15', '09-01-15', '10-01-15',
       ...
       '23-12-15', '24-12-15', '25-12-15', '26-12-15', '27-12-15', '28-12-15',
       '29-12-15', '30-12-15', '31-12-15', 'CHK_STATE'],
      dtype='object', length=366)

In [41]:
data.astype('float32')

,01-01-15,02-01-15,03-01-15,04-01-15,05-01-15,06-01-15,07-01-15,08-01-15,09-01-15,10-01-15,...,23-12-15,24-12-15,25-12-15,26-12-15,27-12-15,28-12-15,29-12-15,30-12-15,31-12-15,CHK_STATE
CONS_NO,,,,,,,,,,,,,,,,,,,,,
NaN,1.00,2.00,3.000,4.000,5.00,6.00,7.00,8.00,9.00,10.00,...,357.000000,358.00,359.00,360.000000,361.000000,362.000000,363.000000,364.000000,365.00,NaN
8.546920e+09,0.00,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.0
6.177183e+08,1.12,1.73,3.340,2.770,3.50,2.86,1.25,1.12,1.51,1.69,...,17.309999,15.95,17.00,32.049999,28.719999,31.110001,28.469999,16.700001,14.96,1.0
7.222500e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.0
7.134080e+09,1.58,3.65,2.540,4.280,1.62,1.39,2.33,1.78,1.80,2.96,...,4.170000,7.95,8.84,2.200000,2.910000,10.520000,7.980000,3.680000,1.41,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6.460203e+09,3.46,2.83,3.735,3.735,2.65,3.56,3.42,3.39,3.65,3.66,...,5.320000,5.19,6.04,7.890000,6.560000,3.900000,7.050000,5.110000,8.07,0.0
3.721000e+08,8.39,6.49,5.340,7.280,5.55,3.89,5.36,5.69,4.95,4.81,...,7.910000,7.43,6.34,10.340000,6.040000,7.750000,7.490000,7.960000,9.35,0.0
1.069130e+09,11.33,3.47,4.370,7.370,5.76,5.16,5.79,7.41,5.33,9.53,...,5.170000,3.97,7.72,3.310000,4.580000,4.950000,3.460000,3.590000,5.43,0.0
5.571700e+09,13.80,11.22,13.170,10.880,13.52,13.91,15.35,10.73,11.78,12.73,...,12.220000,11.58,12.03,12.430000,16.790001,13.180000,13.010000,10.970000,14.96,0.0
1.635009e+09,4.21,3.90,3.930,5.000,5.00,4.90,5.31,5.48,4.91,4.62,...,3.800000,3.62,3.71,4.160000,3.280000,4.520000,3.380000,4.880000,3.53,0.0

In [42]:
data = data.astype('float32')

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9957 entries, nan to 1635009393.0
Columns: 366 entries, 01-01-15 to CHK_STATE
dtypes: float32(366)
memory usage: 14.0 MB

In [44]:
data = data.reset_index().drop(['CONS_NO'], axis =1)

In [45]:
df = data.copy()

In [46]:
data.isna().sum()

01-01-15     1602
02-01-15     1602
03-01-15     1602
04-01-15     1601
05-01-15     1600
             ...
28-12-15       10
29-12-15        7
30-12-15        7
31-12-15        2
CHK_STATE       1
Length: 366, dtype: int64

In [47]:
ncounts = pd.DataFrame(data.isna().mean())
ncounts = ncounts.rename(columns={0: 'missing'})

In [48]:
ncounts.head(10)

           missing
01-01-15  0.160892
02-01-15  0.160892
03-01-15  0.160892
04-01-15  0.160791
05-01-15  0.160691
06-01-15  0.160591
07-01-15  0.160390
08-01-15  0.160088
09-01-15  0.160088
10-01-15  0.160088

In [49]:
theft_states = df[df['CHK_STATE'] == 1].index.tolist()
normal_states = df[df['CHK_STATE'] == 0].index.tolist()

In [50]:
class SmartGridEnvironment:
    def __init__(self, n_states, theft_states):
        self.n_states = n_states
        self.theft_states = theft_states
        self.state = 0

    def reset(self):
        self.state = 0
        return self.state

    def step(self, action):
        if action == 1:
            if self.state in self.theft_states:
                return self.state, 10, True
            else:
                return self.state, -5, True
        else:
            self.state = (self.state + 1) % self.n_states
            if self.state == 0:
                return self.state, 0, True
            else:
                return self.state, -1, False

In [51]:
n_states = len(data)
n_actions = 2
q_table = np.zeros((n_states, n_actions))

In [52]:
learning_rate = 0.1
discount_factor = 0.9
epsilon = 1.0
epsilon_decay = 0.995
epsilon_min = 0.1
n_episodes = 1000

In [53]:
# Theft states
env = SmartGridEnvironment(n_states, theft_states)

In [54]:
# Training model
for episode in range(n_episodes):
    state = env.reset()
    done = False

    while not done:
        if random.uniform(0, 1) < epsilon:
            action = random.choice(range(n_actions))
        else:
            action = np.argmax(q_table[state])

        next_state, reward, done = env.step(action)

        q_table[state, action] = q_table[state, action] + learning_rate * (
            reward + discount_factor * np.max(q_table[next_state]) - q_table[state, action]
        )

        state = next_state

    epsilon = max(epsilon_min, epsilon * epsilon_decay)

In [55]:
# Evaluation
true_labels = []
predicted_labels = []

for state in range(n_states):
    action = np.argmax(q_table[state])  
    if action == 1:  
        predicted_labels.append(1)
    else:
        predicted_labels.append(0)

    if state in theft_states:
        true_labels.append(1)  
    else:
        true_labels.append(0)

In [56]:
# Calculate metrics
accuracy = accuracy_score(true_labels, predicted_labels)
precision = precision_score(true_labels, predicted_labels)
recall = recall_score(true_labels, predicted_labels)

In [57]:
print("Evaluation Metrics:")
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")

Evaluation Metrics:
Accuracy: 0.86
Precision: 1.00
Recall: 0.00